html {
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
header {
    background-color: #376996;
    padding: 40px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logo {
    width: 7%;
    margin-left: 2%;
}
#header-title {
    font-size: 68px;
}

/*Navigation bar with buttons*/
.navbar {
    display: flex;
    justify-content: left;
    background-color: #1D3461;
    border-bottom: 2px solid black;
    padding: 0;
}
.nav-button {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    width: 10%;
    background-color: #1D3461;
    border: none;
    transition-duration: 0.4s;
}
    .nav-button a{
        text-decoration: none;
        color: white;
    }
    .nav-button:hover {
        cursor: pointer;
        background-color: #376996;
    }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    background-color:#cee1ea;
    padding: 20px;
    margin: 10px;
    border: 1px solid #b7d1de;
}
.left {
    width: 40%;
}
.right {
    width: 57%;
}
.municipality-text {
    text-align: center;
}
.center {
    width: 98%;
}

.age-chart-text {
    text-align: center;
}
#canvas2{
    height: 500px;
    width: 100%;
}
.female-chart {
    width: 30%;
    height: 30%;
}
.center-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#title-gender {
    text-align:center;
}
.gender-paragraf {
    text-align:center;
    font-size: 20px;
}
.chart-females {
    margin: 3%;
    width: 25%;
}
.chart-males {
    margin: 3%;
    width: 25%;
}
.chart-both-genders {
    margin: 3%;
    width: 25%;

}
footer {
    padding: 10px;
    background-color: #376996;
    text-align:center;
    color: #ffffff;
}

/**Css for Detail*/
.center h2{
    text-align: center;
    margin-bottom: 25px;
}

.deSo-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-div{
    margin: 1%;
    width: 49%;
}

.left-div div {
   width: 100%;
   display: flex;
   flex-direction: row;
}

#left-deSo-statistics {
    padding: 5px;
}

.right-div {
    margin: 1%;
    width: 49%;
}

.right-div div{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#right-deSo-statistics {
    padding: 5px;
}

.charts{
    width: 98% !important;
}

.filters{
    display: flex;
    flex-direction: column;
    width: 12%;
    gap: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}