@model DSUGrupp1.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Detaljsida";
}

@section LeftContent {

}

@section RightContent{

}

@section CenterContentOne {
    <h2 class="container-headline">Statistik från DeSo områden i kommunen</h2>
    <div class="left-div">
        @Html.DropDownListFor(d => d.DeSoDropDown.SelectedDeso, Model.DeSoDropDown.DeSos, "Välj ett område", new { @id = "left-deSo-dropdown" })

        <div id="left-deSo-statistics">

        </div>

        <canvas id="left-deSo-chart"></canvas>
    </div>

    <div class="right-div">
        @Html.DropDownListFor(d => d.DeSoDropDown.SelectedDeso, Model.DeSoDropDown.DeSos, "Välj ett område", new { @id = "right-deSo-dropdown" })

        <div id="right-deSo-statistics">
        </div>

        <canvas id="right-deSo-chart"></canvas>
    </div>
    

}
@section CenterContentTwo {

}
