@model DSUGrupp1.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section LeftContent {
    @await Component.InvokeAsync("Chart", new { Id = "1", ChartModel = Model.Charts[0] })
}

@section RightContent {

    @using (Html.BeginForm("PopulateDeSoDropDown", "home"))
    {
        @Html.DropDownListFor(d => d.DeSoDropDown.SelectedDeso, Model.DeSoDropDown.DeSos, "Välj ett område")
    }


    @Html.DropDownListFor(d => d.DeSoDropDown.SelectedDeso, Model.DeSoDropDown.DeSos, "Välj ett område", new{@id = "deSo-dropdown"})
    <canvas id="deSo-chart"></canvas>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deSoDropdown = document.getElementById('deSo-dropdown');

            deSoDropdown.addEventListener('change', function () {
                let selectedDeSo = this.value;
                console.log(selectedDeSo);


                fetch('/Home/GetChartFromDeSoCode', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',

                    },
                    body: JSON.stringify({ selectedDeSo }),
                })

                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Inte bra');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Succes:', data);
                        const ctx = document.getElementById('deSo-chart').getContext('2d');

                        new Chart(ctx, data); 
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>

    
    
}

@section CenterContent1 {
    @await Component.InvokeAsync("Chart", "2") 
}

@section CenterContent2 {
    <h1 id="title-gender">Statistik fördelat efter kön i hela Östersunds kommun</h1>
    <div class="center2">
        <div class="chart-females">
            @await Component.InvokeAsync("Chart", new { Id = "4", ChartModel = Model.Charts[1] })
            <p class="gender-paragraf">Cirkeldiagram som presenterar vaccinationsgraden i procent hos alla kvinnor.</p>
        </div>
        <div class="chart-males">
            @await Component.InvokeAsync("Chart", new { Id = "5", ChartModel = Model.Charts[2] })
            <p class="gender-paragraf">Cirkeldiagram som presenterar vaccinationsgraden i procent hos alla män.</p>

        </div>
        <div class="chart-both-genders">
            @await Component.InvokeAsync("Chart", new { Id = "6", ChartModel = Model.Charts[3] })
            <p class="gender-paragraf">Cirkeldiagram som presenterar vaccinationsgraden i procent mellan kvinnor och män.</p>

        </div>

    </div>
}




