@model DSUGrupp1.Models.HomeViewModel;


@{
    ViewData["Title"] = "Home Page";
}

@section LeftContent {
    <canvas id="myChart"></canvas>
}

@section RightContent {
    <input type="hidden" id="totalVaccinations" value="@Model.DataFromSpecificDeSo.Meta.TotalVaccinations"/>
    <!--<input type="hidden" id="population" value="Model.Population.Data." />-->

    <canvas id="deSoChart"></canvas>
    <h2>@Model.DataFromSpecificDeSo.Meta.DeSoCode</h2>
    <h3>@Model.DataFromSpecificDeSo.Meta.TotalVaccinations</h3>
}

@section CenterContent {

}



