@model DSUGrupp1.Models.ViewModels.HomeViewModel

@{
    Layout = "_LayoutOneContentBox";
    ViewData["Title"] = "Map";
}



@section CenterContentOne {

    <div id="mapid" style="height: 600px;"></div>

}